<app-navbar [link]="link" [navbarTitle]="navbarTitle"></app-navbar>
<div *ngIf="errorMessage" class="absolute w-full h-full flex items-center justify-center">
  <div class="flex flex-col items-center shadow-black shadow-2xl
    justify-center gap-10 h-1/3 text-white text-3xl bg-red-500 
    rounded-2xl border-3 border-red-700 w-1/3"
  >
    <h1>{{errorMessage.name}}</h1>
    <h1 class="text-center">{{errorMessage.message}}</h1>
  </div>
</div>
<div class="absolute w-full h-10 top-28 flex justify-center z-10">
  <input 
    [(ngModel)]="filter"
    type="text"
    placeholder="Enter the name of the article..."  
    class="w-1/3 h-full border-2 text-2xl border-green-500 rounded-2xl outline-none py-4 px-2"
  >
</div>
<div [ngClass]="themeService.isDark ? 'dark-theme' : ''" class="absolute h-full w-full">
  <ng-template #elseBlock>
    <h1 class="text-3xl">An article with this title was not found...</h1>
  </ng-template>
  <div *ngFor="let article of articles" class="relative w-full flex flex-col items-center top-40">
    <ng-container *ngIf="filter === article.title || filter === ''; else elseBlock">
      <div (click)="relocate(article.id)" class="bg-green-500 w-1/3 rounded-2xl my-3">
        <img [src]="article.img" alt="">
        <h1 class="text-5xl p-8">{{ article.title }}</h1>
      </div>
    </ng-container>
  </div>
</div>