.dark-theme {
  font-family: 'Roboto', sans-serif;
  background-image: url('https://polinka.top/uploads/posts/2023-05/1684758691_polinka-top-p-kartinki-na-rabochii-stol-temnii-fon-krasi-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
} 